{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_videosequence/manage

    Example context (json):
    {
        Aqui tem que criar o context em inglês
    }
}}
<div class="mod-videosequence-manage">
    <div class="d-flex justify-content-between align-items-center mb-3"><h2>{{#str}}
        managesequence, videosequence{{/str}}: {{name}}</h2>
        <div><a class="btn btn-secondary" href="{{{viewurl}}}">{{#str}}backtoactivity, videosequence{{/str}}</a> <a
                class="btn btn-primary" href="{{{addurl}}}">{{#str}}addstep, videosequence{{/str}}</a></div>
    </div>
    {{^hasrows}}
        <div class="alert alert-info">{{#str}}nosteps, videosequence{{/str}}</div>{{/hasrows}}
    {{#hasrows}}
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{#str}}steptitle, videosequence{{/str}}</th>
                    <th>{{#str}}stepdescription, videosequence{{/str}}</th>
                    <th>{{#str}}videotime, videosequence{{/str}}</th>
                    <th>{{#str}}actions{{/str}}</th>
                </tr>
                </thead>
                <tbody>
                {{#rows}}
                    <tr>
                        <td>{{position}}</td>
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>{{time}}</td>
                        <td class="text-nowrap"><a class="btn btn-sm btn-secondary" href="{{{editurl}}}">{{#str}}
                            edit{{/str}}</a> {{^first}}
                            <a class="btn btn-sm btn-light" href="{{{upurl}}}">↑</a>{{/first}} {{^last}}
                            <a class="btn btn-sm btn-light" href="{{{downurl}}}">↓</a>{{/last}} <a
                                class="btn btn-sm btn-danger" href="{{{deleteurl}}}" data-confirmation="modal"
                                data-confirmation-title-str='["delete"]'
                                data-confirmation-content-str='["confirmdelete", "videosequence"]'
                                data-confirmation-yes-button-str='["delete"]'>{{#str}}delete{{/str}}</a></td>
                    </tr>{{/rows}}
                </tbody>
            </table>
        </div>{{/hasrows}}
</div>
